<div class="row" >
    <div class="col-xs-4" style="background: black;margin-bottom: 10px;"*ngFor="let nuevo of starss">
        <div class="box">12</div>
    </div>
</div>


<!--

<div class="fila">
    <div class="elemento one">
        <p>1</p>
    </div>
    <div class="elemento two">
        <p>2</p>
    </div>
    <div class="elemento thre">
        <p>3</p>
    </div>

</div>
<div class="fila">
    <div class="elemento one">
        <p>1</p>
    </div>
    <div class="elemento two">
        <p>2</p>
    </div>
    <div class="elemento thre">
        <p>3</p>
    </div>

</div>

<div class="fila">
    <div class="elemento one">
        <p>1</p>
    </div>
    <div class="elemento two">
        <p>2</p>
    </div>
    <div class="elemento thre">
        <p>3</p>
    </div>

</div>

<div class="fila">
    <div class="elemento one">
        <p>1</p>
    </div>
    <div class="elemento two">
        <p>2</p>
    </div>
    <div class="elemento thre">
        <p>3</p>
    </div>

</div>
-->